asn1crypto==0.24.0
backports.shutil-get-terminal-size==1.0.0
chardet==3.0.4
Click==7.0
cryptography==2.3
decorator==4.1.2
Django==1.11.28
enum34==1.1.6
Flask==1.1.1
get==2019.4.13
gyp==0.1
idna==2.6
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
post==2019.4.13
prompt-toolkit==1.0.15
psycopg2-binary==2.8.5
public==2019.4.13
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pytz==2019.3
pyxdg==0.25
query-string==2019.4.13
request==2019.4.13
scandir==1.7
SecretStorage==2.3.1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.16.0
